/*reset general*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Ancho de la pagina*/
header,
footer {
    width: 100%;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/*Encabezado*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(165, 66, 33);
}

/*Ocultar temple*/
header.menu-open #name-page {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

/*X ala derecha*/

/*links*/
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
}

nav ul li {
    margin: 0.3rem 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;


}

#name-page {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.5rem;
}

/*Main*/
h1 {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
}

#temples{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

}
#temples article{
    background-color: #f8ece4;
    border: 1px solid #060606;
    overflow: hidden;
    padding: 20px;
}
#temples img{
    width: 100%;
    aspect-ratio: 16/10;
    object-fit: cover;
    margin: 10px 0 0 0;
}
#temples h3{
    font-size: 1.4rem;
    text-align: center;
    margin: 0 0 15px 0;
}
#temples p{
    text-align: center;
    font-size: 1rem;
}
#temples .label {
    color: #b53910;
    font-weight: bold;
}
/*footer*/
footer {
    background-color: rgb(165, 66, 33);
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

#lastModified {
    color: #fff;
}

/*menu-button*/
#menu-button {
    background-color: rgb(165, 66, 33);
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;

}

/*oculto*/
nav {
    display: none;
    width: 100%;
}

/*visible*/
nav.open {
    display: block;
    margin-top: 10px;
}


/* Pantalla Grande*/
@media screen and (min-width: 1024px) {

    /* Header */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
    }

    #name-page {
        font-size: 2.5rem;
        margin: 0;
    }

    /* Menú horizontal */
    nav {
        display: block;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        gap: 2rem;
        margin: 0;
    }

    #menu-button {
        display: none;
    }

    /* Grid de imágenes */
    #temples {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #temples img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    /* Efecto hover */
    #temples img:hover {
        transform: scale(1.01);
    }
}