/*Variable*/
:root {
    --heading-font: 'Roboto', "Times New Roman", "Georgia", serif;
    --body-font: 'Roboto', Arial, Helvetica, sans-serif;
    --color1: #050505;
    --color2: #e1f1f8;
    --color3: #254863;
    --color4: #ffd700;
}
/*reset general*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Ancho de la pagina*/
header,
footer {
    width: 100%;
    padding: 10px;
    text-align: center;
}
main {
    padding: 20px;
    margin: 10px;
}
/*body*/
body {
    font-family: var(--body-font);
    color: var(--color1);
    background-color: var(--color2);
}
.contenedor{
    max-width: 600px;
    margin: 30px auto;
    border: 3px solid;
    background-color: #ffff;
}
/*header*/
header{
    background-color: #254863;
    color: var(--color2);
    padding: 10px;
    text-align: center;
}

/*formulario*/
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form label:not(.opcion label) {
    font-weight: bold;
     
}
form p{
    font-weight: bold;
}
.opcion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    white-space: nowrap;
}
.opcion label{
    display: flex;
    align-items: center;
}
.opcion label input[type="checkbox"] {
    margin-right: 8px;
}



form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #000;
}
/* stars */
input[type="radio"] {
    display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.stars>label {
    color: var(--color4);
    width: 30px;
    height: 30px;
    font-size: 2rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    caret-color: rgba(0, 0, 0, 0);
    /* remove blinking cursor*/
}

.stars>label:hover {
    color: #000;
}

.stars>label::before {
    content: "\2606";
}

.stars input:checked~label::before {
    content: "\2605";
}

/* Botón */
input[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/*footer*/
footer {
    background-color:var(--color3);
    color: var(--color2);
    padding: 10px;
    text-align: center;
}

#lastModified {
    color: var(--color4);
}